<a href="https://colab.research.google.com/github/titan97/Hank-Hill-ChatBot/blob/main/parse_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import os
os.chdir('/content/drive/My Drive')

In [ ]:
import re 
import pandas as pd

In [ ]:
pattern = r'(^[a-zA-Z\s]+):(.+)'

In [ ]:
data = {
    'name': [],
    'line': []
}

In [ ]:
with open('king_of_the_hill_seasons1_5.txt', 'rt') as file:
  for line in file.readlines():
    match = re.findall(pattern, line)
    if match:
      name, line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [ ]:
df = pd.DataFrame(data)

In [ ]:
len(df)

4127

In [ ]:
sum(df['name'] == 'HANK')

1045

In [ ]:
a = df[df['name'] == 'HANK']

In [ ]:
len(a)

1045

In [ ]:
b = a[a['line'].str.contains('what', flags=re.IGNORECASE)]

In [ ]:
b['line'] = b['line'].str.replace('what', 'hwhat', case=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
b['line'].head(10)

8       Well, I wish it were that easy, Boomhauer, bu...
17                                             So hwhat?
41      You, uh, you're my son, you know, with everyt...
43      Ah. Well -- (high-pitched whinny) That's a he...
57             Ugh! hwhat kind of filth are you reading?
96      I tell you hwhat, we are going to turn those ...
112     That's hwhat the white man calls them. Wemata...
130     I tell you hwhat, this family goes through mi...
133                             hwhat the hell was that?
144     I did hwhat you couldn't do. Now, I'm not say...
Name: line, dtype: object

In [ ]:
df2 = df.copy()

In [ ]:
len(df2)

4127

In [ ]:
df2['line'] = df['line'].str.replace('what', 'hwhat', case=False)

In [ ]:
df2[df2['line'].str.contains('hwhat')].head()

         name                                               line
4        DALE   I know hwhat's wrong with it: It's a Ford. Yo...
7   BOOMHAUER   I tell ya hwhat you do...you just take them d...
8        HANK   Well, I wish it were that easy, Boomhauer, bu...
14       DALE   I know hwhat's wrong with your truck. It's yo...
17       HANK                                          So hwhat?

In [ ]:
df2.head(5)

        name                                               line
0       BILL                                               Yep.
1       DALE                                               Yep.
2       HANK                                               Yep.
3  BOOMHAUER                                              M-hm.
4       DALE   I know hwhat's wrong with it: It's a Ford. Yo...

In [ ]:
df2.to_csv('hank_hill_2.csv', index=False)